# ===============================
# Python
# ===============================
__pycache__/
*.pyc
.env
venv/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Database / Logs
# ===============================
*.db
*.log

# ===============================
# Archives
# ===============================
*.zip
